
Hello $!user.getFirstName() $!user.getLastName(),

Per your request, please follow the 3 easy steps below to reset your $!passwordLabel: 

1. Make note your $!usernameLabel is: $!user.getUsername() 

2. Please click on the link below to choose a new $!passwordLabel. 

$!url?key=$!key

If the link is not clickable or completely highlighted, you can highlight, copy and paste the address into your Web browser's Address window. 

3. Follow the instructions on the screen to choose a new $!passwordLabel. 
You'll be prompted to enter your user name and new $!passwordLabel once to set it and once to confirm. 
Once the new $!passwordLabel is accepted, you'll be returned to the Login screen, where you can enter your $!usernameLabel and new $!passwordLabel.


That's it! Your $!passwordLabel has been reset. 

If you encounter any problems, please contact your site administrator or e-mail support@lrn.com for assistance. 

LRN Admin.